/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
}

.tablinks {
  color: #098509;
  font-size: 24px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  min-height: 73vh;
}


footer {
  position: relative;
  text-align: center;
  bottom: 15px;
  font-size: 15px;
  font-family: Tahoma, Geneva, sans-serif;
  color: rgb(99, 97, 97);
}

body {
  font-family: 'Muli',sans-serif;
  background-color: #dddddd;
  color: #474343;
}

h1 { 
  color: #293250; font-family: 'Lato', sans-serif; font-size: 24px; font-weight: 1; line-height: 28px;
  text-align:center;
  margin-bottom: 20px;
  /* margin-right: 50px;
  margin-top: 10px;
  float: right; */
}

b {
  color: #6DD47E;
  font-weight: 1000;
}

#addCart {
  padding: 7px;
  background-color: #cac6c6;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  margin-left: 3px;
  margin-top: 10px;
  /* color: #f1f1f1; */
}

#addCart:hover {
  background-color: rgb(171, 168, 168);
}

.itemRow {
  width: 100px;
}

hr {
  color: rgb(123, 123, 123);
  height: 1.2px;
  border: none;
  background-color: rgb(123, 123, 123);
}